/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
label,
legend,
p,
blockquote,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-family: "poppins-medium", Arial, Helvetica, sans-serif;
  line-height: 1;
  color: black;
  background: white;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  font-size: 100%;
  font-weight: normal;
  margin-left: 2rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

abbr,
acronym {
  order: 0;
}

//styling the main page
$main-color: #4e443e;
$logo-color: #d57934;
$font-family: 'Viga', sans-serif;

header {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  font-family: $font-family;
}

nav {
  font-size: 1rem;
  font-family: $font-family;
  display: grid;
  color: #7a706a;
  grid-template-columns: repeat(3, 1fr);
  height: 8vh;

  div {
    display: flex;
    align-items: center;
  }
}

.logo_img,
.footer_logo_img {
  height: 7vh;
  margin-left: 5px;
}

.nav_menu,
.footer_rights_container {
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: inherit;
}

nav ul,
footer ul {
  display: grid;

  li {
    text-align: center;
  }
}

.nav_list {
  grid-template-columns: 1fr 1fr 1fr;
}

.login_container,
.footer_social_container {
  justify-content: flex-end;
}

.nav_login {
  grid-template-columns: repeat(3, 1fr);
}

.footer_rights {
  grid-template-columns: 0.8fr 1fr 1.6fr;
}

.footer_social {
  grid-template-columns: repeat(4, auto);
  margin-right: 5px;
  align-items: center;

  i {
    color: $logo-color;
    font-size: 0.9rem;
    margin: 0 5px;
  }
}

.orange_leaf {
  color: $logo-color;
}

.flex {
  display: flex;
}

a:visited {
  color: $logo-color;
}

main {
  position: relative;
  top: 8vh;
  padding-bottom: 8vh;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: $main-color;
  height: 8vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9rem;

  div {
    display: flex;
    align-items: center;
  }
}

.card {
  max-width: 50%;
  justify-content: center;
  font-size: 0.8rem;

  input[type=text],
  input[type=text_area],
  input[type=submit],
  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: $logo-color;
    border-radius: 0.5rem;
  }

  input[type=submit] {
    width: 25%;
    background-color: $main-color;
    color: #fff;
  }

  textarea {
    width: 100%;
    height: 70px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    background-color: $logo-color;
    resize: none;
  }

  select {
    height: 4vh;
    width: 10rem;
    background-color: $logo-color;
    border-radius: 0.5rem;
  }
}

/* highlight col-* */

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.grid-item {
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #929796;
  background-color: #333;
  border-radius: 5px;

  &:nth-child(odd) {
    background-color: #424242;
  }
}

.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}
