// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Within style tags in your html file

$logo-color: #d57934;
$main-color: #4e443e;

.category_article_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 42vh;
}

.category_image_container {
  height: 42vh;
  max-width: 50%;
  min-width: 50%;

  img {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

.category_article_info {
  width: 100%;
  padding: 15px;

  // h1 {
  //   color: $logo-color;
  //   font-size: 2rem;
  //   margin-bottom: 10px;
  // }

  h3 {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-decoration: underline;
  }

  p {
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1px;
  }

  a {
    padding: 4px;
    margin: 20px;
    color: $logo-color;
    display: inline-block;
    width: 100%;
    text-align: left;
    text-decoration: underline;
  }
}

.category_inner_container {
  display: flex;
  height: 40vh;
}

.row_2_0,
.row_2_1 {
  flex-direction: row-reverse;
}
